:root {
    --light-cyan: hsl(171, 57%, 74%);
    --strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --dark-cyan-gray: hsl(186, 14%, 43%);
    --cyan-gray: hsl(184, 14%, 56%);
    --light-cyan-gray: hsl(185, 41%, 84%);
    --lighter-cyan-gray: hsl(189, 41%, 97%);
    --white: hsla(0, 0%, 100%, 0.9);
    --font: 'Space Mono', monospace;
}

* {
    box-sizing: border-box;
}

/* -- Typography -- */

body {
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-color: var(--light-cyan-gray);
}

p {
    margin: 0;
}

.small-text {
    font-size: .5rem;
    opacity: 0.5;
}

.amount-text {
    font-size: 1.75rem;
    color: var(--strong-cyan);
}

.calculator {
    font-size: .75rem;
}

label,
.calculator-tip > p {
    opacity: 0.5;
}


/* -- Layout -- */


input {
    background-color: var(--lighter-cyan-gray);
    border-radius: 5px;
    border: none;
    text-align: right;
    font: var(--font);
    padding: 5px;
    color: var(--dark-cyan);
    width: 100%;
    margin-top: 10px;
}

input:focus {
    outline: 2px solid var(--light-cyan);
}

input.calculator-tip-btn {
    background-color: var(--lighter-cyan-gray);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.logo {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.wrapper {
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--white);
    margin-top: 4em;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.calculator {
    border-radius: 10px;
    margin-right: 3em;
    justify-content: space-between;
}


.calculator-bill-input {
    background-image: url("./images/icon-dollar.svg");
}

.calculator-bill-input:invalid {
    border: 3px solid red;
}

.calculator-tip > p {
    margin-bottom: 0.75em;
}

.calculator-bill-input,
.calculator-people-input {
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 8px;
}

.calculator-tip-btn:hover, 
.calculator-tip-btn:focus {
    color: #000;
}

.calculator-tip-btn:hover,
.calculator-tip-btn:focus {
    background-color: var(--strong-cyan);
    color: var(--dark-cyan);
    cursor: pointer;
    outline: none;
}

.calculator-tip-btn-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 7px;
}

.calculator-tip-btn {
    padding: .325em .75em;
    background-color: var(--dark-cyan);
    color: var(--white);
    font: var(--font);
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
}

.calculator-tip-btn.selected {
    background-color: var(--strong-cyan);
    color: var(--dark-cyan);
}

.custom-tip {
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--dark-cyan);
}

.custom-tip:focus {
    background-color: var(--lighter-cyan-gray);
    outline: 2px solid var(--light-cyan);
}

.custom-tip:invalid {
    border: 3px solid red;
}

.calculator-people {
    display: flex;
    flex-wrap: wrap;
}

.calculator-people-input {
    background-image: url("./images/icon-person.svg");
    width: 100%;
}

.calculator-people-input:invalid {
    border: 2px solid red;
}

.people-input-validity {
    display: inline;
    color: red;
    font-size: 0.7rem;
    word-spacing: 5px;
}

.calulator-tip,
.calculator-bill,
.calulator-people {
    width: 100%;
}

.display {
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 25px;
    width: max-content;
}

.calculator,
.display {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
}

.display-reset-btn {
    width: 100%;
    margin-top: 5em;
    padding: .5em;
    border-radius: 5px;
    border: none;
    color:hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace; 
    font-size: .9rem;
    background-color: var(--strong-cyan);
}

.display-tip {
    margin-bottom: 2em;
}

.display-tip,
.display-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
}

.display-reset-btn:focus,
.display-reset-btn:hover {
    background-color: var(--light-cyan);
    color: var(--dark-cyan);
    cursor: pointer;
    outline: none;
}



/*  --Utility-- */

.hide {
    display: none;
}



/* -- media query -- */

@media(max-width: 600px) {

    body {
        height: 100%;
    }

    .wrapper {
        flex-direction: column;
        width: 95%;
        min-width: 260px;
        gap: 30px;
        margin-top: 1em;
    }

    .calculator {
        gap: 20px;
    }

    .calculator,
    .display {
        width: 100%;
    }

    .calculator-tip-btn-container {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 12px;
        justify-content: center;
    }

    input, 
    .calculator-tip-btn {
        font-size: 1.175rem;
    }

    .custom-tip {
        text-align: right;
    }

    .people-input-validity {
        margin-left: auto;
    }

    .display-reset-btn {
        margin-top: 1em;
    }

    .amount-text {
        font-size: 1.25rem;
    }

}